body{
    /*overflow-y:hidden;*/
    height:100vh;
}

.menu-header {
    margin-left:auto;
    color:#808080;
    width:100%;
    display:block;
    border-radius:3px;
    
}
    .menu-header:hover {
        background-color: #e5e5e5;
    }

.nav tbody
{
    width:100%;
    display:block;
}

.nav-item{
    width:90%;
    display:block;
}

.menu-header.active {
    background-color: #c417ff;
    color: #fff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.wrapper {
    height:97vh;
}

.div-menu{
    clear:both;
    display:block;
}

.sub-menu{
    margin-left:10px;
    display:none;
}

.menu-head {
    background-image: linear-gradient(60deg, #ffa726, #fb8c00);
    color: #fff !important;
    box-shadow:  0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);

}
    .menu-head:hover {
        background-image: linear-gradient(60deg, #fb8c00, #ffa726) !important;
        color: #808080 !important;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4) !important;
    }

.frm-main{
    background-color:rgba(255, 152, 0, 0.4);
    width:99%;
    height:87vh;
    margin-top:10vh;
    border:none;
}
.sidebar .nav li:first-child > a {
    height: 40px;
}

.sidebar .nav i {
    line-height: 20px;
}

.sidebar .nav p {
    line-height: 20px;
}

.sub-menu>ul.nav>li.nav-item>a{
    background-image:linear-gradient(60deg,#7e15c6,#a811e4);
    color:#fff;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a 
{
    
}